{% extends "base.html" %}

{% block content %}

<h2>List of Departments</h2>
{% if current_user.is_authenticated %}
    <a href="add_depart" class="btn btn-secondary">Добавить работу</a>
{% endif %}
{% for item in jobs %}
<h3>Action # {{item.id}}</h3>

<table class="table">
  <thead>
    <tr class="table-secondary cell-1">
      <th scope="col" width="40%">List of Departments</th>
      <th scope="col" width="15%">Chief</th>
      <th scope="col" width="15%">Department Email</th>
      <th scope="col" width="15%">Members</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" class="table-info">{{item.title}}</td>
      <td class="table-info" align="center">{{item.chief}}</td>
      <td class="table-info" align="center">{{item.email}}</td>
      <td class="table-info" align="center">{{item.members}}</td>
    </tr>
  <tr>
  {% if current_user.is_authenticated and (current_user == item.user  or current_user.id == 1) %}
    <div>
        <a href="/depart_edit/{{ item.id }}" class="btn btn-warning">
            Edit
        </a>
        <a href="/depart_delete/{{ item.id }}" class="btn btn-danger">
            Delete
        </a>
    </div>
    {% endif %}
  </tr>
</table>
{% endfor %}

{% endblock %}