{% extends "base.html" %}

{% block content %}
                    <h1>Жди нас, Марс!</h1>
                    <img src="https://images.techinsider.ru/upload/img_cache/982/982fe0d83f1e1f1884869767148de802_ce_1500x1000x62x0.jpg"
                    alt="здесь должна была быть картинка, но не нашлась" align="center" width="50%" >
                    <div class="alert alert-primary" role="alert">
                    Человечество вырастает из детства.
                    </div>
                    <div class="alert alert-success" role="alert">
                     Человечеству мала одна планета.
                    </div>
                    <div class="alert alert-info" role="alert">
                    Мы сделаем обитаемыми безжизненные пока планеты.
                    </div>
                    <div class="alert alert-light" role="alert">
                    И начнем с Марса!
                    </div>
                    <div class="alert alert-dark" role="alert">
                    Присоединяйся!
                    </div>
{% endblock %}